/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET END */

header {
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.bg {
	margin-left: auto;
	margin-right: auto;
	background-image: url(Home_pics/colorized-bg.png);
	background-size:cover;
	display:block;
}

.logo{
	width: 10%;
	float: left;
	position: absolute;

}

nav {
	text-decoration: none;
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	font-size: 2em;
	color: red;
	text-transform: uppercase;
	display: inline-block;
	height: 100px;
	padding-top: 2%;
	margin-left: 85%;
}

.link {
	text-decoration:none;
	color: red;
	position: relative; 
}

.link:hover {
	color: #212121;
}

body {
	background-color: #212121;
}

.intro_title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 2em;
	color: white;
	text-align: center;
	margin-bottom: 1em;
}

.text {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.3em;
	color: white;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}
.text_back {
	background-color: red;
	opacity: .7;
	filter: alpha(opacity=50);
	padding: 3em;
	width: 300px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;

}

.title {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
	color: white;
	background-color: green;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	padding-top:10px;
	padding-bottom:10px;
}

.first {
	padding-top: 15%;

}
article {
	margin-left: 5%;
	margin-right: 15%;
	overflow: auto;
	display: block;
	padding-bottom: 5%;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	width: 30%;
	color: white;
	float: left;
}

article img{
	display:block;
	width: 60%;
	float: right;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .1s ease-in-out;
	transition: .3s ease-in-out;
}

article:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);

}











