body {
	background-color: #1a2325; 
	border-top: 4px solid #f8695a;
	}

header {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}

h1 {
	display: none;
}	


.logo {
	height: 50px;
	width: 50px;
	padding: 15px;
	padding-bottom: 19px;
	padding-top: 11px;
	background-color: #f8695a;
}

article {
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	position:relative;
	padding-bottom: 215px;
}


article:not(:last-child) {
	border-bottom: 1px dotted #4b5152;
}

.item-name {
	font-family: Quatro Slab;
	font-size: 34px;
	color: #f4f5f5;
	padding-top: 100px;
	padding-bottom: 5px;
	width: 340px;
	line-height: 40px;
	}
	
.details { 
	padding-bottom: 15px;
	font-family: LFT Etica;
	font-style: Book;
	font-size: 14px;
	color: #4b5152;
	} 

span {
	font-family: Arial;
	font-style: Regular;
	font-size: 20px;
}

.description {
	font-family: LFT Etica;
	font-style: Regular;
	font-size: 14px;
	color: #abadad;
	width: 330px;
	line-height: 25px;
	padding-top: 9px;
	padding bottom: 10px;
	line-height: 22px;
	}

.link {
	padding-top: 17px;
	font-family:LFT Etica; 
	font-style: Regular;
	font-size: 14px;
	color: #01ccce;
	text-decoration: none;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 37px;
	border-bottom: 1px dotted #4b5152;
	width: 275px;
}

.price {
	padding-right: 20px;
	font-family: Quatro Slab;
	font-size: 22px;
	color: #f4f5f5;
	display:inline-block;
	margin-top: 37px;
	margin-right: 7px;
	margin-bottom: 75px;
	}

.button {
	font-family: LFT Etica;
	font-style: SemiBold;
	font-size: 14px;
	text-transform: uppercase;
	color: #f4f5f5;
	background: url(Images/Button.png);
	border: 2px solid #4dd9da;
	width: 121px;
	height: 42px;
	display:inline-block; 
}

article img {
	width: 540px;
	margin-top: 100px;
	margin-left: 230px;
	position: absolute;
	top: 0;

}

button:hover {
	background: url(Images/Button_Hover.png);
	border: 2px solid #f4f5f5;
}

a:hover {
	color:white;
}