body {
	border-top: solid #f8695a 4px;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	background-color: #1a2325; 
	}

h1 {
	display: none;
}	


article:not(last-child) {
	border-bottom: 1px dotted #4b5152;
} 

.logo {
	height: 50px;
	width: 50px;
	padding: 15px;
	background-color: #f8695a;

}


img {
	padding: 100px;
	display: inline-block;

}

.item-name {
	font-family: Quatro Slab;
	font-size: 36px;
	color: #f4f5f5;
	padding-top: 50px;
	padding-bottom: 15px;
	}
	
.details { 
	padding-bottom: 15px;
	font-family: LFT Etica;
	font-style: Book;
	font-size: 16px;
	color: #4b5152;
	} 

.description {
	font-family: LFT Etica;
	font-style: Regular;
	font-size: 16px;
	color: #abadad;
	line-height: 22px;
	}

.link {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family:LFT Etica; 
	font-style: Regular;
	color: #01ccce;
	text-decoration: none;
}

.price {
	padding-right: 20px;
	font-family: Quatro Slab;
	font-size: 24px;
	color: #f4f5f5;
	}

.button {
	font-family: LFT Etica;
	font-style: SemiBold;
	color: #f4f5f5;
	background-color: #01ccce;
	border: 2px solid #4dd9da;
	width: 121px;
	height: 42px; 
}

button:hover {
	color: #01ccce;
	background-color: #f4f5f5;
	border: 2px solid #f4f5f5;
}

a:hover {
	color:white;
}

