* {
	background-color: #1a2325;
	}

article:not(last-child) {
	border-bottom: 1px dotted #4b5152;
} 

.logo {
	height: 34px;
	width: 62px;
}

.logo-back {
	width: 80px;
	height: 80px;
	background-color: #f8695a;
}

.item-name {
	font-family: Quatro Slab;
	font-size: 36px;
	color: #f4f5f5;
	}
	
.details { 
	font-family: LFT Etica;
	font-style: Book;
	font-size: 16px;
	color: #4b5152;
	} 

.description {
	font-family: LFT Etica;
	font-style: Regular;
	font-size: 16px;
	color: #abadad;
	}

.link {
	font-family:LFT Etica; 
	font-style: Regular;
	color: #01ccce;
	text-decoration: none;
}

.price {
	font-family: Quatro Slab;
	font-size: 24px;
	color: #f4f5f5;
	}

.button {
	font-family: LFT Etica;
	font-style: SemiBold;
	color: #f4f5f5;
	border: none;
	background-color: #01ccce;
	border: 2px solid #4dd9da;
	width: 121px;
	height: 42px; 
}

button:hover {
	color:black;
}

a:hover {
	color:black;
}

